/* variables */
/* Extend */
.principal__logo {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0px;
  top: 0px; }

/* Mixins */
header {
  text-align: center;
  background: linear-gradient(to top, #ff5858, #f857a6);
  /* titulo */ }
  header h1 a {
    font-style: normal;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Gluten', cursive;
    font-family: 'Bebas Neue', cursive;
    transform: translate(0px, 0px);
    transition: 1s;
    /* animacion titulo */ }
    header h1 a:hover {
      transform: translate(0px, 10px);
      transition: 1s;
      color: white; }

/* media query  */
@media screen and (max-width: 420px) {
  .principal__logo {
    width: 80px;
    height: 110px; } }

@media screen and (max-width: 1800px) {
  .logo {
    width: 0px;
    height: 0px; } }

.texto__banner {
  color: black; }

.descripcion__banner {
  color: black; }

/* cuerpo y logo */
body {
  background-color: #FFDEDE; }
  body .logo {
    position: absolute;
    width: 500px;
    right: 90px;
    top: 150px; }
  body .map-clean {
    color: black;
    background-color: white; }
  body .map-clean p {
    color: #7d8285; }
  body .map-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit; }
  @media (max-width: 767px) {
    body .map-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px; } }
  body .map-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px; }
  body .map-clean iframe {
    background-color: white; }
  body .features-clean {
    color: #313437;
    background-color: #FFDEDE;
    padding-bottom: 30px; }
  @media (max-width: 767px) {
    body .features-clean {
      padding-bottom: 10px; } }
  body .features-clean p {
    color: #7d8285; }
  body .features-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit; }
  @media (max-width: 767px) {
    body .features-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px; } }
  body .features-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px; }
  @media (max-width: 767px) {
    body .features-clean .intro {
      margin-bottom: 40px; } }
  body .features-clean .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px; }
  @media (max-width: 767px) {
    body .features-clean .item {
      min-height: 0; } }
  body .features-clean .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit; }
  body .features-clean .item .description {
    font-size: 15px;
    margin-bottom: 0; }
  body .features-clean .item .icon {
    font-size: 40px;
    color: #1485ee;
    float: left;
    margin-left: -65px; }

/* texto */
.texto__parrafo {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive; }

h2 {
  text-align: center; }

.text-color {
  color: #fff; }

.carousel-item img {
  height: 500px; }

.Banner__Galeria {
  background-color: #FFDEDE;
  text-align: center;
  border-radius: 50px;
  font-family: 'Bebas Neue', cursive; }

.photo-gallery {
  color: black;
  background-color: #FFDEDE; }

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit; }

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px; } }

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px; }

.photo-gallery .intro p {
  margin-bottom: 0; }

.photo-gallery .photos {
  padding-bottom: 20px; }

.photo-gallery .item {
  padding-bottom: 30px; }
