*{
    margin: 0%;
    padding: 0%;
}
header{
    text-align: center;
    background: linear-gradient(to top, #ff5858, #f857a6);
    /* titulo */
    h1 a{
        font-style: normal;
        text-decoration: none;
        color: $color-texto;
        font-weight: bolder;
        font-size: 50px;
        font-family: 'Gluten', cursive;
        font-family: 'Bebas Neue', cursive;
        transform: translate(0px, 0px);
        transition: 1s;
        /* animacion titulo */
        &:hover {
            transform: translate(0px, 10px);
            transition: 1s;
            color:darken($color: rgb(255, 255, 255), $amount: 0%)
        }
    }
}

/* Logo y banner */
.principal{
&__logo{
    @extend %logo
    }
}

.texto__banner{
    color: $color-texto;
    .descripcion__banner{
        color: $color-texto;
    }
}

/* Imagen principal */
img{
    display: block;
    margin: auto;
}

.photo-gallery {
    color: $color-texto;
    background-color: $color-principal;
    .photo-gallery h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
        .photo-gallery .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px;
            .photo-gallery .intro p {
            margin-bottom: 0;
            .photo-gallery .photos {
                padding-bottom: 20px;
                .photo-gallery .item {
                padding-bottom: 30px;
                    }
                }
            }
        }
    }
}





/* media query  */
@media screen and (max-width: 420px) {
    .principal__logo{
        width: 90px;
        height: 100px;
    }
}
@media screen and (max-width: 1800px) {
    .logo{
        width: 0px;
        height: 0px;
    }
}

@media screen and (max-width: 420px) {
    img{
        display: block;
        margin: auto;
        width: 390px;
    }
}

@media screen and (max-width: 1024px) {
    img{
        display: block;
        margin: auto;
        width: 800px;
    }
}

@media (max-width:767px) {
    .features-clean .item {
    min-height: 0;
    }
}

@media (max-width:767px) {
    .features-clean .intro {
    margin-bottom: 40px;
    }
}

@media (max-width:767px) {
    .features-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
    }
}

@media (max-width:767px) {
    .features-clean {
    padding-bottom: 10px;
    }
}

@media (max-width:767px) {
    .map-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
    }
}

@media (max-width:767px) {
    .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
    }
}