header{
    text-align: center;
    background: linear-gradient(to top, #ff5858, #f857a6);
    /* titulo */
    h1 a{
        font-style: normal;
        text-decoration: none;
        color: $color-texto;
        font-weight: bolder;
        font-size: 50px;
        font-family: 'Gluten', cursive;
        font-family: 'Bebas Neue', cursive;
        transform: translate(0px, 0px);
        transition: 1s;
        /* animacion titulo */
        &:hover {
            transform: translate(0px, 10px);
            transition: 1s;
            color:darken($color: rgb(255, 255, 255), $amount: 0%)
        }
    }
}



/* media query  */
@media screen and (max-width: 420px) {
    .principal__logo{
        width: 80px;
        height: 110px;
    }
}
@media screen and (max-width: 1800px) {
    .logo{
        width: 0px;
        height: 0px;
    }
}

@media screen and (max-width: 420px) {
    img{
        display: block;
        margin: auto;
        width: 390px;
    }
}



.principal{
&__logo{
    @extend %logo
    }
}

.texto__banner{
    color: $color-texto;
}

.descripcion__banner{
    color: $color-texto;
}

img{
    display: block;
    margin: auto;
}

